
@{
    ViewData["Title"] = "403 Forbidden";
}
<partial name="_StudentNav" />
<div class="container">
    <h1>403</h1>
    <h2>כן, את\ה לא אמור\ה להיות פה!</h2>
    <a asp-action="logout" asp-controller="Home" asp-area="">התנתק וחזור להתחברות</a>
</div>