
@{
    ViewData["Title"] = "בואו נתחיל";
}
<div class="container mt-5 pt-3">
    <h2>הי, @User.Identity.Name</h2>
    <h3>רגע לפני שאתם נרשמים, שימו לב:</h3>
    <ul>
        <li>לחצו על התוכן שבו אתם מעויניינים על מנת לבחור בו.</li>
        <li>ההרשמה מחולקת לרצועות זמן - בכל אחת, בחרו לפחות שני תכנים.</li>
        <li>הבחירה מתבצעת עם עדיפויות - הראשון שתבחרו יהיה בעדיפות הראשונה</li>
        <li>ניתן לשנות סדר עדיפויות - לחצו פעם נוספת על התוכן, בחירתו תבוטל ואלה שבעדיפות נמוכה ממנו יעלו לעדיפות גדולה יותר</li>
        <li>רוצים לשנות? תמיד אפשר להתחבר מחדש, העדפותיכם הישנות תישמרנה.</li>
        <li class="font-weight-bold text-danger">שימו לב! לעיתים לוקח לאתר זמן לסיים את ההרשמה. כאשר ההרשמה תסתיים - תועברו למסך ובו יהיה כתוב - "נרשמת!"</li>
    </ul>
    <div class="p-2">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-outline-light">בואו נתחיל!</a>
    </div>
</div>

